nav {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
}

.nav--logo {
  max-width: 200px;
  padding: 10px 10px;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
}

.nav--list {
  margin-left: 35px;
  transition: 1s;
}

.nav--link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  transition: 0.5s;
}

.nav--link:hover {
  color: #ff142d;
  transition: 0.5s;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1em;
  height:90vh;
  width: 98vw;
}

.hero--subsection {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 70px;
  margin:0;
}

.hero--image {
  position: absolute;
  right: 10em;
  top: 15em;
  width: 35em;
}

.hero--text {
  font-size: 2em;
}

.hero--unlist {
  position: absolute;
  right: 40em;
  top: 37.5em;
}

.hero--list {
  margin-top: 1.5em;
}

.fab, .far, .fas {
  color: black;
  font-size: 2em;
}

/*card design*/

.card {
  position: absolute;
  top: 5em;
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* height:98vh; */
  width: 98vw;
}

.card--subsection {
  width: 20em;
  height: 30em;
  margin: 2em;
  padding-left: 1em;
  /* padding: 1em; */
  border: 1px black solid;
  border-radius: 1em;
  box-shadow: black 1em 1em 2em;
}

.card--img {
  width: 100%;
}

.card--skill, .card--contact {
  padding: 0;
}

.card--contact > li {
  padding: 0 0em 0.7em 15em;
  transition: 1s;
}

.card--contact__social {
  transition: 1s;
}

.card--contact__social:hover {
  transform: scale(0.8);
  transition: 1s;
}

footer {
  position: absolute;
  bottom: 0.25em;
  right: 2em;
}

/*
footer > p {
  margin: 0;
  padding: 0 1em 0.5em 0;
  text-align: right;
  scroll-behavior: smooth;
}
*/

/* SMARTPHONE */

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    padding: 5px 0;
    align-items: flex-start;
  }

  .nav--logo {
    max-width: 150px;
  }

  nav > ul {
    flex-direction: column;
    padding-left: 15px;
  }

  .nav--list {
    margin: 15px 0;
    transition: 1s;
  }


  .hero {   
    margin: -1em 0 0 1em;
    height: 100%;
    width: 100%;
  }

  h1 {
    font-size: 55px;
  }
  /* work on it */
  .hero--image {
    position: absolute;
    left: 0em;
    top: 30em;
    width: 15em;
  }

.hero--text {
  font-size: 1.5em;
  width: 10em;
}

.hero--unlist {
  position: absolute;
  right: 8em;
  top: 33em;
}

.hero--list {
  margin-top: 1.5em;
}

.fab, .far, .fas {
  color: black;
  font-size: 2em;
}


  /*None pour l'instant*/
  .card {
    display: none;
  }

}