nav {
  display: flex;
  padding: 5px 20px;
  justify-content: space-between;
  align-items: center;
}

.nav--logo {
  max-width: 200px;
  padding: 10px 10px;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
}

.nav--list {
  margin-left: 35px;
}

.nav--link {
  cursor: pointer;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height:90vh;
  width: 98vw;
}

.hero--subsection {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-star; */
  align-items: flex-start;
  /* margin: 0 2em 10em 2em; */
}

h1 {
  font-size: 70px;
  margin:0;
}

.hero--subsection > button {
  width: 10em;
  height: 3em;
  border-radius: 1em;
  border: black 1px solid;
  background-color: transparent;
}

.hero--image {
  width: 40em;
  height: 45em;
  background: url("./images/logo-black.png");
  background-size: 35em;
  background-repeat: no-repeat;
  margin: 10em 0 0 -10em;
}

/*card design*/
/* .hero--image {
  width: 20em;
  height: 30em;
  border: 1px black solid;
  border-radius: 1em;
  background: 7em 2em url("./images/logo-black.png");
  background-size: 12em;
  background-repeat: no-repeat;
  background-color: pink;
  margin-bottom: 8em;
} */

.hero--text {
  font-size: 2em;
}

.hero--unlist {
  margin: 22.5em 0 0 -12em;
}

.hero--list {
  margin-top: 1.5em;
}

.fab {
  color: black;
  font-size: 2em;
}